body {
    color: #fff;
}

.goback {
    position: absolute;
    background: rgba(23, 21, 21, 0.279);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: -4rem;
    margin-left: 4rem;
    transition: 0.4s;
}
a, a:visited {
    text-decoration: none;
    color: white;
}
.goback:hover {
    padding: 18px 35px;
}

.choice-container {
    display: flex;
    margin-bottom: 1.8rem;
    margin-left: 10rem;
    width: 10%;
    border-radius: 4px;
    background: linear-gradient(90deg, rgb(190, 112, 241) 0%, rgb(178, 106, 237) 46%, rgba(234,182,237,1) 100%);
    font-size: 3rem;
    min-width: 80rem;
}
.choice-container2 {
    display: flex;
    margin-bottom: 1.8rem;
    margin-left: 10rem;
    width: 10%;
    border-radius: 4px;
    background: linear-gradient(90deg, rgb(230, 112, 112) 0%, rgb(240, 166, 154) 46%, rgb(243, 197, 179) 100%);
    font-size: 3rem;
    min-width: 80rem;
}
.choice-container3 {
    display: flex;
    margin-bottom: 1.8rem;
    margin-left: 10rem;
    width: 10%;
    border-radius: 4px;
    background: linear-gradient(90deg, rgb(86, 85, 86) 0%, rgb(132, 125, 138) 46%, rgb(225, 216, 225) 100%);
    font-size: 3rem;
    min-width: 80rem;
}

#container {
    margin-top: 100px;    
}

#question {
    margin-left: 150px;
    font-size: 30px;
}

.choice-container:hover,.choice-container2:hover,.choice-container3:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1rem 0 rgba(110, 110, 184, 0.576);
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, green, rgb(30, 206, 30))100%;
}

.incorrect {
    background: linear-gradient(32deg, red, rgb(201, 24, 24))100%;
}

/* heads up display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    font-size: 2rem;
    margin-top: 10rem;
    margin-left: 250px;
    text-align: center;
}

.hud-prefix2 {
    font-size: 2rem;
    margin-top: 12rem;
    margin-right: 100px;
    text-align: center;
}

.hud-main-text {
    text-align: center;
    margin-right: 100px;
}

#progressBar {
    width: 150rem;
    height: 3rem;
    border: 0.2rem solid rgba(91, 192, 190, 1);
    margin-top: 3rem;
    margin-left: 250px;
    border-radius: 50px;
    overflow: hidden; 
}
#progressBarFull {
    height: 100%;
    background: rgb(55, 168, 166);
    width: 0%;
}
@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

.image {
    margin-left: 1000px;
    margin-top: -450px;
}

img {
    transition: 0.4s;
    border: solid 2px;
    border-radius: 5px;
}

img:hover {
    opacity: 85%;

}